@import '_mediasQueries';

body{
  font-family: 'Libre Franklin', sans-serif;  
  
  background-color: #ffffff;
  font-size: 20px;
}

.content{
  height: 95vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img{
    width: 645px;
    
    @include responsive(mobile){
      width: 400px;
      margin-top: 2.5rem;
    }    
    @include responsive(smallMobile){
      width: 300px;
    }

  }

  .title{    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p{
      margin-bottom: .5em;
      
      font-size: 2em;
      color: hsl(0, 0%, 59%);
      b{
        color: black;
      }

      @include responsive(mobile){
        font-size: 1.2em;
        margin-top: 2.5em;
      }    
  
    }

    span{
      font-size: 16px;

      @include responsive(mobile){      
        margin-top: .5rem;
      }
    }
  }

  .notify{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 4rem;
    height:3.5rem;

    @include responsive(mobile){      
     flex-direction: column;
    }

    @include responsive(smallMobile){    
      align-items: center;    
      justify-content: center;
      margin-top: 3rem;
      margin-bottom: 2rem;
    }

    input{
      height: 2.5rem;
      width: 350px;
      border-radius: 35px;
      border-color: #e7ecff;
      border-style: solid;
      text-indent: 20px;
      font-size: 14px;

      @include responsive(smallMobile){
        width: 250px;
      }      
    }

    ::placeholder{
      color:  #dee1ef;
      font-weight: 300;
    }

    input:focus{
      outline: none;
      box-shadow: -1px -1px 5px 6px rgba(231,236,255,0.47);
    }
    
    button{
      height: 3rem;
      width: 165px;

      cursor: pointer;
      margin-left: .5rem;

      border-radius: 35px;
      border-style: solid;
      border-color: hsl(223, 87%, 63%);

      background-color: hsl(223, 87%, 63%);
      font-size: 14px;
      color: white;
      font-weight: 700;

      @include responsive(mobile){      
        width: 360px;
        
        margin-left: 0;
        margin-top: 2rem;
        padding-top: .8rem;
        padding-bottom: .8rem;        
       }

       @include responsive(smallMobile){
        width: 258px;
        margin-top: .5rem;
      }      
   
    }

    button:focus{
      outline: none;
    }

    button:active{
      border-bottom-width: 4px;
      transform: translateY(4px);
    }
  }

  #rejectedEmail{
    font-size: .6em;
    color: #f9b0c2;
    margin-top: 0.5em;
    margin-left: 2em;

    display: none;
  }

  .social{
    display: flex;
    margin-top: 4em;
    margin-bottom: 1em;

    @include responsive(mobile){
      margin-top: 7em;
    }

    .facebook, .twitter, .instagram{
      display: flex;
      align-items: center;
      justify-content: center;
      
      width: 32px;
      height: 32px;  
      
      box-shadow: 11px 10px 48px 2px rgba(150,150,150,0.61);
      border-radius: 50%;          
      cursor: pointer;

      #facebook-logo,
      #instagram-logo,
      #twitter-logo{
        width: 18px;
        height: 18px;  

        fill: hsl(223, 87%, 63%);
      }

    }

    .facebook:hover,
    .instagram:hover,
    .twitter:hover{
      border: 1px solid rgba(150,150,150,0.73);
    }


    .facebook{
      margin-right: .5em;
    }

    div + div{
      margin-right: .5em;
    }
  }

  .copyright{
    font-weight: 300;
    font-size: .7em;
    color:  hsl(0, 0%, 59%);
  }

}