
// DESKTOP FIRST

body{
  font-family: 'Libre Franklin', sans-serif;  
  
  background-color: #f0f1f3;
  font-size: 20px;
}

.content{
  height: 95vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img{
    width: 645px;
    height: 405px;
  }

  .title{    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p{
      margin-bottom: .5em;
      
      font-size: 2em;
      color: hsl(0, 0%, 59%);
      b{
        color: black;
      }
    }
  }

  .social{
    display: flex;

    .facebook, .twitter, .instagram{
      display: flex;
      align-items: center;
      justify-content: center;
      
      width: 32px;
      height: 32px;  

      border-radius: 50%;
      
      background-color: black;

      #facebook-logo,
      #instagram-logo,
      #twitter-logo{
        width: 18px;
        height: 18px;  

        fill: hsl(223, 87%, 63%);
      }

    }
  }

}